/* Add CSS Styling */
.odd {
    background-color: rgb(255, 127, 180);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}